<html>
  <body>
        <div id="left-menuColor"> 

          
            <div id="content">
             
<div class="myclass">
  <div class="header">
      <i><h2>HotelBooking</h2></i>
  </div>
  
   
  <input  type="text" placeholder="Name" [(ngModel)]="Name">
  <br><br>

  
  <input type="text" placeholder="Surname" [(ngModel)]="surname">
  <br><br>
  
  <input type="number" placeholder="Age" [(ngModel)]="age">
  <br><br>

  <input type="Date" placeholder="DateOfBooking" [(ngModel)]="date">
  <br><br>

  <button type="Submit" (click)="onbooking()">Login</button>

</div>


 
    </div>
  </div>

  </body>
  </html>